body{
    background-color:#eee;
}

header {
    color:#eee;
    padding:65px 40px 20px 40px;
    margin-bottom:10px;
    background-color:#008cba;
}

footer {
    color:#888888;
    font-size:12px;
}

#pagebody {
    width:80%;
    min-height:400px;
    align:center;
}

#form_wrapper {
  box-shadow:2px 2px 2px #aaa;
  background-color:#fff;
  width:600px;
  padding:20px;
  margin:auto;
}