header {
    color:#eee;
    padding:65px 40px 20px 40px;
    margin-bottom:10px;
    background-color:#222
}
footer {
    color:#888888;
    font-size:12px;
}

body {
    color:#eee;
    background-color:black;
}

#pagebody {
    width:80%;
    min-height:400px;
    align:center;
}

.form-control {
    background-color:#222;
    color:#eee;
    border-color:#333;
}

.modal-content {
    background-color:#222;
    color:#eee;
}