#post_list {
    background-color:white;
    width:100%;
    padding:0 20px;
    box-shadow:2px 2px 2px #aaa;
}

.postlist_entry {
    vertical-align:top;
    width:100%;
    overflow:hidden;
    border-bottom:1px solid #aaa;
}

.postlist_entry a:hover{
    text-decoration:none;
}

.post_info{
    font-size:0.7em;
}
