.post{
    overflow:hidden;
    min-width:750px;
    background-color:#222;
    margin-bottom:10px;
}
.post .author_info{
    text-align:center;
    color:#777;
    width:170px;
    height:200px;
    float:left;
    padding:20px 10px 0 10px;
}
.post .post_body{
    min-height:200px;
    color:white;
    margin-left:170px;
    padding:0 10px 0 10px;
    overflow:hidden;
    background-color:#333;
}
.post .post_body .info_bar{
    font-size:0.9em;
    color:#eee;
    height:50px;
    overflow:hidden;
}