#user_body{
    display:table;
    overflow:hidden;
    width:100%;
    height:800px;
}

#sidebar{
    display:table-cell;
    background-color:#008cba;
    height:100%;
    width:200px;
    text-align:center;
}

#sidebar_nav_links .sidebar_nav_entry{
    width:100%;
    height:30px;
    color:#eee;
    display:block;
    transition:0.1s ease-in-out;
}

#sidebar_nav_links .sidebar_nav_entry:hover{
    text-decoration:none;
    background-color:#eee;
    color:#008cba;
    transition:0.1s ease-in-out;
}

#user_info{
    padding-bottom:5px;
    margin-bottom:5px;
}

#content_wrapper{
    display:table-cell;
    width:auto;
    padding:10px;
    background-color:white;
}

#reply_list{
    padding:0;
}

#reply_list li{
    margin-top:5px;
    width:100%;
    height:100px;
    border-bottom:1px solid #aaa;
}

#reply_list li img{
    float:left;
}

#reply_list li a{
    color:black;
    margin-left:80px;
    text-align:center;
    font-size:1.5em;
    height:100%;
}