{% extends base.html %}

{% set pager_prefix=("/thread/" + str(thread['_id'])) %}

{% block title %}{{ thread['title'] }}{% end %}

{% block custom_css %}<link rel="stylesheet" href="/static/css/post.css">{% end %}

{% block content %}
{% import Fujiwara.render %}
{% import hashlib %}

<h1 id="thread_title">{{ thread['title'] }}</h1>
{% for tag in thread['tags'] %}
<span class="label label-default">{{ tag }}</span>
{% end %}

{% set category = mongo.categories.find({'_id':thread['category']})[0] %}
<h4>Category:<a href="/category/{{ category['_id'] }}">{{ category['parent'] }}/{{ category['name'] }}</a></h4>

{% if user != None %}
<div style="margin-top:10px;">
  {% if user['_id'] == thread['author'] or 'admin' in user['jobs'] %}
  <a class="btn btn-primary" href="/thread/edit/{{ thread['_id'] }}">编辑</a>
  {% end %}
  {% if 'admin' in user['jobs'] %}
  {% if thread['hidden'] == True %}
  <a class="btn btn-danger" href="/thread/recover/{{ thread['_id'] }}">恢复</a>
  {% else %}
  <a class="btn btn-danger" href="/thread/remove/{{ thread['_id'] }}">炸</a>
  {% end %}
  {% end %}
</div>
{% end %}

{% set pager_prefix="/thread/view/" + str(thread['_id']) %}
{% include pager.html %}

<ul type="none" id="post_area" style="padding-top:20px;">
  
{% set floor = 30 * (pn - 1) + 1 %}
  <!-- post loop -->
{% for post in posts %}
  
  {% set author = mongo.users.find({'_id':post['author']})[0] %}
  
  <li id="{{ str(post['_id']) }}" class="post_entry">    
    <div class="post">      
      <div class="author_info">
        <div class="author_image">
          <img src="http://www.gravatar.com/avatar/{{ hashlib.md5(author['email'].encode()).hexdigest() }}?size=140">
        </div>
        
        <div class="author">
          <span>{{ author['name'] }}</span>
        </div>        
      </div>
      
      <div class="post_body">        
        <div class="info_bar">
          <p style="float:left;padding-top:20px;">{{ floor }}楼 {{ post['datetime'].ctime() }}</p>

          {% if user != None %}
          <div style="float:right;padding-top:20px;">
            {% if 'admin' in user['jobs'] %}
            {% if post['hidden'] == True %}
            <a class="btn btn-xs btn-hide-floor btn-danger" href="/post/recover/{{ post['_id'] }}">恢复</a>
            {% else %}
            <a class="btn btn-xs btn-hide-floor btn-danger" href="/post/remove/{{ post['_id'] }}">炸</a>
            {% end %}
            {% end %}
            {% if user['_id'] == post['author'] or 'admin' in user['jobs'] %}
            <a class="btn btn-xs btn-edit-post btn-primary" href="/post/edit/{{ str(post['_id']) }}">编辑</a>
            {% end %}
            <button onclick='createReply("{{ floor }}","{{ post['_id'] }}");' class="btn btn-xs btn-primary">回复</button>
          </div>
          {% end %}
        </div>
        
        <div class="content" style="font-size:18px;">
        {% raw Fujiwara.render.render(post['content']) %}
        </div>
        
      </div>
      
    </div>
    {% set floor = (floor + 1) %}
  </li>
  {% end %}
  <!-- post loop end -->

  <!-- pager -->
  {% include pager.html %}
  
  <!-- editor -->
  <li>
    {% if user != None %}
    <div id="new_reply">
      <form role="form" method="POST" action="/reply/{{ thread['_id'] }}">
        <div class="form-group">
          <textarea class="form-control" id="reply_area" name="content" placeholder="Content" rows="7" style="font-size:18px;" required></textarea>
        </div>
        <input id="replyto" name="replyto" value="{{ str(thread['author']) }}" type="hidden">
        <input type="submit" value="回复" class="btn btn-primary">
      </form>
    </div>
    {% else %}
    <div style="text-align:center;"><h4><a href="/login">登录</a>以回帖</h4></div>
    {% end %}
  </li>
  <!-- editor end -->
</ul>

{% end %}

{% block custom_js %}
<script>
function createReply(floor,replyto) {
  origval = $('#replyto').val();
  $('#replyto').val(origval + ',' + replyto);
  reply_text = "回复" + floor +"楼:";
  text = $('#reply_area').val();
  if (text.length == 0 || text[text.length-1] == '\n') {
    $('#reply_area').val(text+reply_text+'\n');
  } else {
    $('#reply_area').val(text+'\n'+reply_text+'\n');
  }
  $('#reply_area').focus();
}
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% end %}