{% extends base.html %}

{% set pager_prefix=("/thread/" + str(thread['_id'])) %}

{% block title %}{{ thread['title'] }}{% end %}

{% block custom_css %}<link rel="stylesheet" href="/static/css/post.css">{% end %}

{% block content %}
{% import Fujiwara.render %}
{% import hashlib %}

<h1 id="thread_title">{{ thread['title'] }}</h1>
{% for tag in thread['tags'] %}
<span class="label label-default">{{ tag }}</span>
{% end %}

<div id="thread_functions" style="margin-top:10px;">
  <a id="btn-edit-thread" class="btn btn-primary" href="/thread/edit/{{ thread['_id'] }}" style="display:none;">编辑</a>
  <button id="btn-hide-thread" class="btn btn-danger" style="display:none;">炸</button>
</div>

<ul type="none" id="post_area" style="padding-top:20px;">
  {% set floor = 30 * (pn - 1) + 1 %}
  <!-- post loop -->
  {% for post in posts %}
  {% set author = mongo.users.find({'_id':post['author']})[0] %}
  <li id="{{ str(post['_id']) }}" class="post_entry" data-post='{"_id":"{{ str(post['_id']) }}","floor":"{{ floor }}"}' data-author='{"_id":"{{ str(author['_id']) }}","name":"{{ author['name'] }}"}'>
    
    <div class="post">
      
      <div class="author_info">

        <div class="author_image">
          <img src="http://www.gravatar.com/avatar/{{ hashlib.md5(author['email'].encode()).hexdigest() }}?size=140">
        </div>
        
        <div class="author">
          <span>{{ author['name'] }}</span>
        </div>
        
      </div>
      
      <div class="post_body">
        
        <div class="info_bar">
          <p style="float:left;padding-top:20px;">{{ floor }}楼 {{ post['datetime'].ctime() }}</p>
          <div style="float:right;padding-top:20px;">
            <button class="btn btn-xs btn-hide-floor btn-danger" style="display:none;" ">炸</button>
            <a class="btn btn-xs btn-edit-post btn-primary" style="display:none;" href="/post/edit/{{ str(post['_id']) }}">编辑</a>
            <button class="btn btn-xs btn-primary btn-reply">回复</button>
          </div>
        </div>
        
        <div class="content" style="font-size:18px;">
        {% raw Fujiwara.render.render(post['content']) %}
        </div>
        
      </div>
      
    </div>
    {% set floor = (floor + 1) %}
  </li>
  {% end %}
  <!-- post loop end -->

  <!-- pager -->
  {% include pager.html %}
  
  <!-- editor -->
  <li>
    <div id="new_reply">
      <div class="alert alert-danger" id="reply_nocontent_alert" style="display:none;">
        <strong>请填写内容。</strong>你想说啥？写在下面。
      </div>
      <div class="alert alert-danger" id="reply_notlogin_alert" style="display:none;">
        <strong>你没登录。</strong>请先登录再回贴。
      </div>
      <form role="form" id="reply_form">
        <div class="form-group">
          <textarea class="form-control" placeholder="Content" rows="7" style="font-size:18px;" id="reply_editarea"></textarea>
        </div>
        <div class="form-group" style="display:none;">
          <input class="form-control" id="reply_to" value="{{ str(thread['author']) }}">
        </div>
        <button type="button" id="submit_reply" class="btn btn-primary">回复</button>
      </form>
    </div>
  </li>
  <!-- editor end -->
</ul>

{% end %}

{% block custom_js %}
<script>
function reply_on_click() {
  var author = $(this).parents('.post_entry').data()['author'];
  var floor = $(this).parents('.post_entry').data()['post'].floor;
  var editarea_orig_value = $('#reply_editarea').val();
  if( editarea_orig_value != "" && editarea_orig_value.slice(-1) != '\n') editarea_orig_value+='\n';
  $('#reply_editarea').val(editarea_orig_value+'回复 '+floor+'楼 '+author.name+':\n').focus();
  var replyto_orig = $('#reply_to').val();
  $('#reply_to').val(replyto_orig+','+author._id)
}
  
function set_reply_on_ready() {
  $('.btn-reply').click(reply_on_click);
}

$(document).ready(set_reply_on_ready);
</script>
<script>
var tid = "{{ str(thread['_id']) }}";
var author_id = "{{ thread['author'] }}";
</script>
<script src="/static/js/reply.js"></script>
<script src="/static/js/postman.js"></script>
<script src="/static/js/editbtn.js"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% end %}