{% extends base.html %}

{% block title %}用户中心{% end %}

{% block custom_css %}
<link rel="stylesheet" href="/static/css/user.css">
{% end %}

{% block content %}
{% import Fujiwara.avatar %}

<h1>用户中心</h1>

<div id="user_body">
  
  <div id="sidebar">
    <div id="user_info"">
      <span>{{ user['name'] }}</span><br>
      <img src="{{ Fujiwara.avatar.avatar(user) }}?size=140">
    </div>
    <ul id="sidebar_nav_links" class="nav nav-pills nav-stacked">
      <li><a id="nav_settings" href='/user/reply'>回复提醒</a></li>
    </ul>
  </div><!-- Sidebar -->

  <div id="content_wrapper">
    {% block user_content %}{% end %}
  </div>

</div>

{% end %}

{% block custom_js %}
{% end %}