{% extends base.html %}

{% block title %}用户中心{% end %}

{% block custom_css %}
<link rel="stylesheet" href="/static/css/user.css">
{% end %}

{% block content %}
{% import Fujiwara.avatar %}

<h1>用户中心</h1>

<div id="user_body">
  
  <div id="sidebar">
    <div id="user_info"">
      <span style="color:#eee;">{{ user['name'] }}</span><br>
      <img src="{{ Fujiwara.avatar.avatar(user) }}?size=140">
    </div>
    <div id="sidebar_nav_links">
      <a class="sidebar_nav_entry" href='/user/reply'>回复提醒</a>
    </div>
  </div><!-- Sidebar -->

  <div id="content_wrapper">
    {% block user_content %}{% end %}
  </div>

</div>

{% end %}

{% block custom_js %}
{% end %}